.masthead h1 {
        font-size: 40px !important;
        }
.masthead .menu a {
    border-bottom: unset !important;
}
.masthead .menu a:hover {
    color: #0f72c7;
}
.main p img {
        margin: 0 auto;display: block;
        border-radius: 5px;
        }
.main p a {
    color: #e0250f;
}
.main p a:hover {
    color: #0f72c7;
}
.main .nav-prev a {
    border-bottom: unset;
}
.main .nav-next a {
    border-bottom: unset;
}
li {
    list-style: square;
}
a:hover {
    color: #0f72c7;
}
.archives .main li a {
    color: #e0250f;
}
code {
    word-wrap: break-word;
}
blockquote {
    margin: 1.5em 0 !important;
    padding: 0.5em 1.5em !important;
    border-left: 3px solid #0f72c7 !important;
    font-size: 14px;
    color: #0f72c7;
    background: #f6f6f6;
}
@media screen and (max-width: 480px){
body {
    margin: 0 20px;
}}
@media screen and (max-width: 960px){
body {
    margin: 0 20px;
}
.post-nav {
    justify-content: unset;
    flex-direction: column;
}
.nav-prev {
    margin-right: unset;
    margin-bottom: 10px;
}
.nav-next {
    margin-left: unset;
    text-align: unset;
}
}
@media screen and (min-width: 960px){
.nav-prev {
    width: 50%;
}
.nav-next {
    width: 50%;
}
}
